@using Fiver.Mvc.ModelValidation.Remote.Models.Home
@model EmployeeInputModel

<h2>ASP.NET Core MVC Client Validation</h2>

<form asp-controller="Home" asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="EmployeeNo"></label>
    <input asp-for="EmployeeNo" />
    <span asp-validation-for="EmployeeNo"></span>

    <br />
    <button type="submit">Save</button>
</form>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
